@charset "utf-8";

// Define 
$PRIMARY    : #1e90ff;
$LIGHT      : #45a2ff;
$BACKGROUND : #f7f7f7;

// Global Nagivation
$NAV_HOVER : #1d88f2;

$BORDER_LEFT   : 1px;
$BORDER_RIGHT  : 1px;
$BORDER_TOP    : 1px;
$BORDER_BOTTOM : 1px;
$BORDER_BOTH   : 2px;