@charset "utf-8";

body > header{
	width: 100%;
	height: 45px;

	color: #fff;
	background: $PRIMARY;

	nav{
		@include clearfix();

		width: inherit;
		max-width: 1140px;
		height: inherit;
		margin: 0 auto;
		display: block;
		overflow: visible;

		a{
			color: #fff;
			text-decoration: none;
		}

		ul.navigation{
			width: 320px + $BORDER_RIGHT;
			height: 45px;
			float: left;

			li{
				&:first-child{
					width: 120px - $BORDER_LEFT;
				}
			}
		}


		.search{
			width: 200px;
			height: 34px;
			margin: 4px 5px 5px;
			float: right;

			border-radius: 2px;
			position: relative;
			z-index: 100;

			input{
				width: 20px;
				height: 26px;
				padding:4px 7px;

				font-size: 14px;

				color: #fff;
				background: transparent;
				border: solid 1px #fff;
				border-radius: 2px;
				outline: none;

				position: absolute;
				right: 0;

				&::-webkit-input-placeholder{
					color: #fff;
				}
			}

			&:after{
				width: 20px;
				height: 20px;


				content: "\f002";
				font-size: 18px;
				font-family: FontAwesome;

				transition:all 0.1s;

				top: 0;
				right: 5px;
				bottom: 0;
				margin:auto;
				position: absolute;

				padding-top: 1px;
				z-index:-1;
			}

			&:hover, &:active{
				&:after{
					height: 22px;
					font-size: 20px;
					right: 6px;
					padding-top: 0;
				}
			}

			*:hover{
				cursor: pointer;
			}

		}

		.user{
			width: 120px;
			height: 34px;

			float: right;
			display: block;

			border: solid 1px #fff;
			
			margin: 4px 5px 5px;
			@include clearfix();
			overflow: visible;

			img{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin: 1px 5px 1px 9px;
				float: left;
			}

			span{
				display: block;
				width: 68px;
				height: 25px;
				float: left;
				margin-top: 6px;
				overflow: hidden;
			}

			ul{
				background: #1E90FF;
				border: solid 1px #fff;
				border-top:none;
				margin-top: 33px;
				width: 100px;
				margin-left: -1px;
				display: block;

				height: 0px;
				overflow: hidden;
				position: relative;

				-webkit-transition:height 0.3s;
				transition:height 0.3s;

				list-style: none;
				padding:0 10px;

				&.active{
					height: 100px;
					border: solid 1px #fff;

					&:before{
						top: -1px;
					}
				}

				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 0px;
					left: 0;
					width: 100%;
					height: 1px;
					background: #fff;
					z-index: 10px;
				}
			}

			& > *{
				vertical-align: middle;
			}

			&:hover{
				cursor: pointer;
			}
		}

		.signin{
			width: 100px + $BORDER_BOTH;
			height: 45px;

			float: right;

			li{
				border-right:solid 1px $NAV_HOVER;
			}
		}

		.list{
			margin: 0;
			padding:0;
			list-style: none;
			font-size: 0; 

			li{
				width: 100px - $BORDER_LEFT;
				height: inherit;
				text-align: center;

				border-left:solid 1px $NAV_HOVER;
				display: inline-block;
				font-size: 1.0rem;
				position: relative;

				a{
					display: block;
					width: inherit;
					height: inherit;
					padding:8px 0;
				}

				&:hover{
					cursor: pointer;
					background: $NAV_HOVER;
				}

				&:last-child{
					border-right:solid 1px $NAV_HOVER;
				}
			}
		}
	}
}